@import "static.scss";
#gototop{
    width: 40px;
    height: 40px;
    bottom: 30px;
    display: block;
    border: none;
    border-radius: 50%;
    background-color: $color-green;
    color: $color-white;
    transition: .5s;
    position: fixed;
    cursor: pointer;
    &:hover{
        background-color: #58C383;
    }
}


.gototop_show{
    right: 5px;
}

.gototop_hide{
    right: -60px;
}

// .gototop_limited{
//     position: absolute;
//     right: 5px;
// }