$color-gray : #FAFAFA;
$color-black : #111111;
$t-color-gray:#CCCCCC;
$color-green :#2C9564 ;
$color-background:#F5F5F5;
$color-gary-3: #666666;
$color-gary-2: #999999;
$border : #EEEEEE;
$color-white : #FFFFFF;
@media only screen and (max-width: 360px){
    .card{
        width: 90% !important;
        height: 408px;
    }
    .top-footer{
        flex-direction: column ;
        padding: 16px 10px !important;
        gap:20px;
        
    }
    .search{
        position: relative !important;
        background-color: transparent !important;
        input{
            width: 90%;
        }
    }
    

}
@media only screen and (max-width: 600px) {
    div.card {
        width: 80%;
        flex-direction: column !important;
        height: 450px !important;

        &>img{
            width: 100% !important;
            height: 154px !important;
        }
        &>.info{
            width: 100% !important;
            height:100% !important;
            .description{
                max-height: 84px !important;
            }
            .continue{
                bottom: 12px !important;
            }
        }   
    }

    .top-header{
        justify-content: space-between !important;
        .logo{
            margin-right: 16px;
        }
        .navbar{
            padding: 20px 0;
            height: auto !important;
            width: 100% !important;
            position: absolute !important;
            top: -1000px;
            flex-direction: column !important;
            justify-content: space-between !important;
            background-color: $color-gray;
            box-shadow: 0 5px 10px .5px $color-gary-3;
            .menu{
                width: 100%;
                flex-direction: column !important;
            }
            .languages{
                width: 100% !important;
                justify-content: center !important;
            }
        }
        .hamburger-menu{
            display: block !important;
            margin-left: 16px;
        }
    }
    .socails{
        display: none;
    }
    .bottom-header{
        font-size: 16px !important;
        .path{
            font-size: 1em;
            margin-right:1em ;
        }
        .title{
            margin-right:.5em ;
        }
    }
    .top-footer{
        font-size: 16px;
        flex-direction: column ;
        padding: 30px 10px;
        gap:20px;
        .footer-info,.quick-access{
            width: 100%;
        }
        
    }
    
}
@media only screen and (max-width: 860px) {
    .top-header{
        justify-content: space-between !important;
        z-index: 100;
        .logo{
            margin-right: 20px;
        }
        .navbar{
            padding: 20px 20px;
            height: auto !important;
            width: 300px !important;
            position: absolute !important;
            left: -500px;
            top:64px;
            flex-direction: column !important;
            justify-content: flex-start !important;
            justify-content: flex-start !important;
            background-color: $color-gray;
            box-shadow: 0 5px 10px .5px $color-gary-3;
            .menu{
                width: 100%;
                flex-direction: column !important;
                justify-content: flex-start !important;
                align-items: flex-start !important;
                &>li{
                    &>a{
                        padding: 8px 8px !important;
                    }
                    display: flex !important;
                    flex-direction: row !important;
                    &>a::before{
                        width: 3px !important;
                        height: 0 !important;
                    }
                    &>a:hover::before{
                        height: 100% !important;
                    }
                }
            }
            .languages{
                width: 100% !important;
                justify-content: flex-start !important;
            }
            .search{
                align-self: flex-start !important;
                position: relative !important;
                background-color: transparent !important;
                input{
                    width: 90% !important ;
                }
            }
        }
        .hamburger-menu{
            display: block !important;
            margin-left: 20px;
        }
    }
    
    .card{
        width: 90% ;
    }
    .top-footer{
        font-size: 14px;
    }
}
@media only screen and (max-width: 1088px) {
   .top-header{
       font-size: 13px !important;
   }
   .search{
       position: absolute;
       background-color: $color-background;
       width: fit-content;
       left: 10px;
       .search-submit{
        padding-right: 13px;
    }
       input{
           width: 0;
       }
       &:hover input{
        width: 90% ;
        background-color: #2C9564;
   }
   }
   .card{
    width: 90%;
   }
   .top-footer{
    padding: 30px 30px;
    gap:50px;
}
}
@media only screen and (min-width: 1088px){
    .search{
        width: 260px;
        &>input{
            width: 90%;
        }
    }
}