$color-gray : #FAFAFA;
$color-black : #111111;
$t-color-gray:#CCCCCC;
$color-green :#2C9564 ;
$color-background:#F5F5F5;
$color-gary-3: #666666;
$color-gary-2: #999999;
$border : #EEEEEE;
$color-white : #FFFFFF;
