@font-face {
  font-family: Shabnam;
  src: url("../font/Shabnam-FD.woff");
}

.text-gray-100 {
  color: #999999;
}

.text-gray-200 {
  color: #666666;
}

.text-black {
  color: #111111;
}

.text-green {
  color: #2C9564;
}

.btn-nostyle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Shabnam;
}

body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
  color: #111111;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

.gap-1 {
  gap: 7px;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.t-34 {
  font-size: 34px;
}

.t-28 {
  font-size: 28px;
}

.t-20 {
  font-size: 20px;
}

.t-18 {
  font-size: 18px;
}

.t-16 {
  font-size: 16px;
}

.t-14 {
  font-size: 14px;
}

.th-46 {
  line-height: 46px;
}

.th-38 {
  line-height: 38px;
}

.th-36 {
  line-height: 36px;
}

.th-30 {
  line-height: 30px;
}

.th-28 {
  line-height: 28px;
}

.th-27 {
  line-height: 27px;
}

.tw-700 {
  font-weight: 700;
}

.tw-500 {
  font-weight: 500;
}

.tw-400 {
  font-weight: 400;
}

.tw-300 {
  font-weight: 300;
}

@media only screen and (min-width: 922px) {
  .tw-700-lg {
    font-weight: 700 !important;
  }
  .tw-500-lg {
    font-weight: 500 !important;
  }
  .tw-400-lg {
    font-weight: 400 !important;
  }
  .tw-300-lg {
    font-weight: 300 !important;
  }
  .t-34-lg {
    font-size: 34px !important;
  }
  .t-28-lg {
    font-size: 28px !important;
  }
  .t-20-lg {
    font-size: 20px !important;
  }
  .t-18-lg {
    font-size: 18px !important;
  }
  .t-16-lg {
    font-size: 16px !important;
  }
  .t-14-lg {
    font-size: 14px !important;
  }
  .th-46-lg {
    line-height: 46px !important;
  }
  .th-38-lg {
    line-height: 38px !important;
  }
  .th-36-lg {
    line-height: 36px !important;
  }
  .th-30-lg {
    line-height: 30px !important;
  }
  .th-28-lg {
    line-height: 28px !important;
  }
  .th-27-lg {
    line-height: 27px !important;
  }
}

@media only screen and (min-width: 768px) {
  .tw-700-md {
    font-weight: 700 !important;
  }
  .tw-500-md {
    font-weight: 500 !important;
  }
  .tw-400-md {
    font-weight: 400 !important;
  }
  .tw-300-md {
    font-weight: 300 !important;
  }
  .t-34-md {
    font-size: 34px !important;
  }
  .t-28-md {
    font-size: 28px !important;
  }
  .t-20-md {
    font-size: 20px !important;
  }
  .t-18-md {
    font-size: 18px !important;
  }
  .t-16-md {
    font-size: 16px !important;
  }
  .t-14-md {
    font-size: 14px !important;
  }
  .th-46-md {
    line-height: 46px !important;
  }
  .th-38-md {
    line-height: 38px !important;
  }
  .th-36-md {
    line-height: 36px !important;
  }
  .th-30-md {
    line-height: 30px !important;
  }
  .th-28-md {
    line-height: 28px !important;
  }
  .th-27-md {
    line-height: 27px !important;
  }
}

@media only screen and (min-width: 576px) {
  .tw-700-sm {
    font-weight: 700 !important;
  }
  .tw-500-sm {
    font-weight: 500 !important;
  }
  .tw-400-sm {
    font-weight: 400 !important;
  }
  .tw-300-sm {
    font-weight: 300 !important;
  }
  .t-34-sm {
    font-size: 34px !important;
  }
  .t-28-sm {
    font-size: 28px !important;
  }
  .t-20-sm {
    font-size: 20px !important;
  }
  .t-18-sm {
    font-size: 18px !important;
  }
  .t-16-sm {
    font-size: 16px !important;
  }
  .t-14-sm {
    font-size: 14px !important;
  }
  .th-46-sm {
    line-height: 46px !important;
  }
  .th-38-sm {
    line-height: 38px !important;
  }
  .th-36-sm {
    line-height: 36px !important;
  }
  .th-30-sm {
    line-height: 30px !important;
  }
  .th-28-sm {
    line-height: 28px !important;
  }
  .th-27-sm {
    line-height: 27px !important;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}

.top-footer {
  padding-bottom: 30px;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  gap: 100px;
}

.top-footer .footer-info {
  width: 50%;
}

.top-footer .footer-info .logo-footer {
  display: flex;
  flex-direction: row;
}

.top-footer .footer-info .logo-footer > a {
  margin-right: 17px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.top-footer .footer-info .site-info {
  width: 90%;
  display: inline;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 32px;
  text-align: right;
  color: #666666;
}

.top-footer .footer-info .site-info .email {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #58C383;
}

.top-footer .footer-info .site-info .text {
  display: inline;
}

.top-footer .footer-info .site-info .socials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transform: translateY(8px);
}

.top-footer .footer-info .site-info .socials > .social {
  display: inline-block;
  background-position: center;
  background-size: 1em;
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
  border-radius: 4px;
  background-color: #219DD3;
  transition: .5s;
}

.top-footer .footer-info .site-info .socials > .social:hover {
  transform: scale(1.2) rotateZ(360deg);
}

.top-footer .footer-info .site-info .socials > :nth-child(1) {
  background-image: url("../img/telegram.svg");
}

.top-footer .footer-info .site-info .socials > :nth-child(2) {
  background-image: url("../img/insta-white.jpg");
  background-color: #DC316E;
}

.top-footer .footer-info .site-info .socials > :nth-child(3) {
  background-image: url("../img/twiter.svg");
}

.top-footer .quick-access {
  width: 50%;
}

.top-footer .quick-access div {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #111111;
}

.top-footer .quick-access > ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 150px));
  grid-auto-flow: dense;
  column-gap: 20px;
}

.top-footer .quick-access > ul > li {
  grid-row: span 1;
  grid-column: span 1;
  width: max-content;
  display: flex;
  align-items: center;
}

.top-footer .quick-access > ul > li a {
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 28px;
  color: #666666;
}

.top-footer .quick-access > ul > li a:hover {
  color: #2C9564;
}

.top-footer .quick-access > ul > li::before {
  display: inline;
  content: "\2022";
  color: #2C9564;
  font-size: 2em;
  text-align-last: center;
  font-weight: bold;
  margin-top: .25em;
  margin-left: .25em;
}

.bottom-footer {
  width: 100%;
  max-width: 1440px;
}

.bottom-footer .line {
  width: 100%;
  height: 1px;
  background-color: #EEEEEE;
}

.bottom-footer .copyright {
  margin: 16px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #666666;
}

@media only screen and (max-width: 360px) {
  .top-footer {
    flex-direction: column;
    padding: 16px 10px !important;
    gap: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .top-footer {
    font-size: 16px;
    flex-direction: column;
    padding: 30px 10px;
    gap: 20px;
  }
  .top-footer .footer-info, .top-footer .quick-access {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .top-footer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .top-footer {
    padding: 30px 30px;
    gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .search {
    width: 260px;
  }
  .search > input {
    width: 90%;
  }
}
/*# sourceMappingURL=Footer.css.map */