@font-face {
  font-family: Shabnam;
  src: url("../font/Shabnam-FD.woff");
}

.text-gray-100 {
  color: #999999;
}

.text-gray-200 {
  color: #666666;
}

.text-black {
  color: #111111;
}

.text-green {
  color: #2C9564;
}

.btn-nostyle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Shabnam;
}

body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
  color: #111111;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

.gap-1 {
  gap: 7px;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.t-34 {
  font-size: 34px;
}

.t-28 {
  font-size: 28px;
}

.t-20 {
  font-size: 20px;
}

.t-18 {
  font-size: 18px;
}

.t-16 {
  font-size: 16px;
}

.t-14 {
  font-size: 14px;
}

.th-46 {
  line-height: 46px;
}

.th-38 {
  line-height: 38px;
}

.th-36 {
  line-height: 36px;
}

.th-30 {
  line-height: 30px;
}

.th-28 {
  line-height: 28px;
}

.th-27 {
  line-height: 27px;
}

.tw-700 {
  font-weight: 700;
}

.tw-500 {
  font-weight: 500;
}

.tw-400 {
  font-weight: 400;
}

.tw-300 {
  font-weight: 300;
}

@media only screen and (min-width: 922px) {
  .tw-700-lg {
    font-weight: 700 !important;
  }
  .tw-500-lg {
    font-weight: 500 !important;
  }
  .tw-400-lg {
    font-weight: 400 !important;
  }
  .tw-300-lg {
    font-weight: 300 !important;
  }
  .t-34-lg {
    font-size: 34px !important;
  }
  .t-28-lg {
    font-size: 28px !important;
  }
  .t-20-lg {
    font-size: 20px !important;
  }
  .t-18-lg {
    font-size: 18px !important;
  }
  .t-16-lg {
    font-size: 16px !important;
  }
  .t-14-lg {
    font-size: 14px !important;
  }
  .th-46-lg {
    line-height: 46px !important;
  }
  .th-38-lg {
    line-height: 38px !important;
  }
  .th-36-lg {
    line-height: 36px !important;
  }
  .th-30-lg {
    line-height: 30px !important;
  }
  .th-28-lg {
    line-height: 28px !important;
  }
  .th-27-lg {
    line-height: 27px !important;
  }
}

@media only screen and (min-width: 768px) {
  .tw-700-md {
    font-weight: 700 !important;
  }
  .tw-500-md {
    font-weight: 500 !important;
  }
  .tw-400-md {
    font-weight: 400 !important;
  }
  .tw-300-md {
    font-weight: 300 !important;
  }
  .t-34-md {
    font-size: 34px !important;
  }
  .t-28-md {
    font-size: 28px !important;
  }
  .t-20-md {
    font-size: 20px !important;
  }
  .t-18-md {
    font-size: 18px !important;
  }
  .t-16-md {
    font-size: 16px !important;
  }
  .t-14-md {
    font-size: 14px !important;
  }
  .th-46-md {
    line-height: 46px !important;
  }
  .th-38-md {
    line-height: 38px !important;
  }
  .th-36-md {
    line-height: 36px !important;
  }
  .th-30-md {
    line-height: 30px !important;
  }
  .th-28-md {
    line-height: 28px !important;
  }
  .th-27-md {
    line-height: 27px !important;
  }
}

@media only screen and (min-width: 576px) {
  .tw-700-sm {
    font-weight: 700 !important;
  }
  .tw-500-sm {
    font-weight: 500 !important;
  }
  .tw-400-sm {
    font-weight: 400 !important;
  }
  .tw-300-sm {
    font-weight: 300 !important;
  }
  .t-34-sm {
    font-size: 34px !important;
  }
  .t-28-sm {
    font-size: 28px !important;
  }
  .t-20-sm {
    font-size: 20px !important;
  }
  .t-18-sm {
    font-size: 18px !important;
  }
  .t-16-sm {
    font-size: 16px !important;
  }
  .t-14-sm {
    font-size: 14px !important;
  }
  .th-46-sm {
    line-height: 46px !important;
  }
  .th-38-sm {
    line-height: 38px !important;
  }
  .th-36-sm {
    line-height: 36px !important;
  }
  .th-30-sm {
    line-height: 30px !important;
  }
  .th-28-sm {
    line-height: 28px !important;
  }
  .th-27-sm {
    line-height: 27px !important;
  }
}

.hover-green:hover {
  color: #2C9564 !important;
}

._icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: .3s;
  font-size: larger;
}

._icon:hover {
  color: #2C9564;
}

.icon-btn {
  border: none;
  outline: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-size: 1.3em;
  transition: .3s;
  cursor: pointer;
}

.icon-btn:hover {
  color: #2C9564;
  transform: scale(1.2);
}

.icon-btn > i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag {
  background-color: #EEEEEE;
  border-radius: 22px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 28px;
  color: #999999;
  cursor: pointer;
  transition: .3s;
}

.tag:hover {
  background-color: #2C9564;
  color: #FFFFFF;
}

.intro-page {
  margin-top: 64px;
  padding-top: 5rem;
}

.intro-page .intro-page-img {
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem;
  object-fit: cover;
  overflow: hidden;
}

.intro-page .intro-page-img > img {
  width: 100%;
  height: 100%;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
}

.breadcrumb > .breadcrumb-item {
  color: #999999;
  cursor: pointer;
}

.breadcrumb > .breadcrumb-item:hover {
  color: #FFFFFF;
}

.breadcrumb > .breadcrumb-item:hover::after {
  color: #999999;
}

.breadcrumb > .breadcrumb-item::after {
  content: "/";
}

.breadcrumb > .active::after {
  content: "";
}

.breadcrumb > .active:hover {
  color: #999999;
  cursor: default;
  transform: scale(1);
  margin: 0;
}

.article-con {
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 100%;
  padding: 7rem 8rem 3rem 8rem;
}

.article-con .subject-article {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Slider-con {
  overflow-x: hidden;
  overflow-y: visible;
  direction: ltr;
  transition: .3s;
  padding: 20px 0;
}

.Slider-con > .Slider {
  cursor: grab;
  cursor: -webkit-grab;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
  transition: .5s;
  transform: translate3d(0px, 0px, 0px);
}

.Slider-con > .Slider > .Slide {
  height: max-content;
}

.Slider-dots {
  margin: 2em;
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
}

.Slider-dots > span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999999;
  transition: .3s;
  cursor: pointer;
}

.Slider-dots > .active {
  width: 40px;
  height: 10px;
  border-radius: 3em;
  background-color: #999999;
}

._Card {
  direction: rtl;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transition: .4s;
}

._Card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px -4px;
}

._Card > img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 21/9;
}

._Card > ._Card-content {
  display: flex;
  flex-direction: column;
}

._Card > ._Card-content > ._Card-title {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

._Card > ._Card-content > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
}

._Card > ._Card-content > ._Card-continue {
  margin-top: 1rem;
  align-self: center;
  display: block;
  color: #2C9564;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.comment-con {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  padding: 2em;
}

.comment-con > .comment-head > .send-comment-btn {
  color: #2C9564;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.comment-con > .send-comment-con-active {
  display: flex !important;
  opacity: 1 !important;
  transition: 1s;
}

.comment-con > .send-comment-con {
  padding: 1.5em;
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  transition: 1s;
  opacity: 0;
  display: none;
}

.comment-con > .send-comment-con > textarea {
  resize: vertical;
}

.comment-con > .send-comment-con .send-comment-input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  padding: 1rem;
  outline: none;
  transition: .3s;
}

.comment-con > .send-comment-con .send-comment-input::placeholder {
  color: #999999;
}

.comment-con > .send-comment-con .send-comment-input:hover, .comment-con > .send-comment-con .send-comment-input:focus {
  border: 1px solid #2C9564;
}

.comment-con > .send-comment-con .send-comment-submit {
  width: 183px;
  padding: 1rem;
  outline: none;
  border: none;
  background: #2C9564;
  border-radius: 12px;
  color: #FAFAFA;
  cursor: pointer;
  transition: .4s;
}

.comment-con > .send-comment-con .send-comment-submit:hover {
  background-color: #2fa16c;
}

.comments {
  width: 100%;
}

.comments .comment {
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  width: 100%;
  transition: .5s;
  pointer-events: auto;
}

.comments .comment > .comment-info > img {
  object-fit: cover;
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .article-con {
    padding: 3em;
  }
}

@media only screen and (max-width: 768px) {
  .article-con {
    padding: 2em;
  }
  .intro-page .intro-page-img {
    height: 15rem;
  }
}

@media only screen and (max-width: 576px) {
  .article-con {
    padding: 2em 1em;
  }
  .send-comment-con {
    padding: .5em !important;
  }
  .intro-page .intro-page-img {
    height: 12rem;
  }
}
/*# sourceMappingURL=InnerBlog.css.map */