@media only screen and (max-width: 360px) {
  .card {
    width: 90% !important;
    height: 300px !important;
  }
  .top-footer {
    flex-direction: column;
    padding: 16px 10px !important;
    gap: 20px;
  }
  .search {
    position: relative !important;
    background-color: transparent !important;
  }
  .search input {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  div.card {
    width: 80%;
    flex-direction: column !important;
    height: 400px !important;
  }
  div.card > .banner {
    width: 100% !important;
    height: 154px !important;
  }
  div.card > .info {
    width: 100% !important;
    height: 100% !important;
  }
  div.card > .info .description {
    max-height: 84px !important;
  }
  div.card > .info .continue {
    bottom: 12px !important;
  }
  .top-header {
    justify-content: space-between !important;
  }
  .top-header .logo {
    margin-right: 16px;
  }
  .top-header .navbar {
    padding: 20px 0;
    height: auto !important;
    width: 100% !important;
    position: absolute !important;
    top: -1000px;
    flex-direction: column !important;
    justify-content: space-between !important;
    background-color: #FAFAFA;
    box-shadow: 0 5px 10px 0.5px #666666;
  }
  .top-header .navbar .menu {
    width: 100%;
    flex-direction: column !important;
  }
  .top-header .hamburger-menu {
    display: block !important;
    margin-left: 16px;
  }
  .socails {
    display: none;
  }
  .bottom-header {
    font-size: 16px !important;
  }
  .bottom-header .breadcrumb {
    font-size: 1em;
    margin-right: 1em;
  }
  .bottom-header .title {
    margin-right: .5em;
  }
  .top-footer {
    font-size: 16px;
    flex-direction: column;
    padding: 30px 10px;
    gap: 20px;
  }
  .top-footer .footer-info, .top-footer .quick-access {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .top-header {
    justify-content: space-between !important;
    z-index: 100;
  }
  .top-header .logo {
    margin-right: 20px;
  }
  .top-header .navbar {
    padding: 20px;
    height: auto !important;
    width: 300px !important;
    position: absolute !important;
    top: -1000px;
    left: 0;
    flex-direction: column !important;
    justify-content: flex-start !important;
    justify-content: flex-start !important;
    background-color: #FAFAFA;
    box-shadow: 0 5px 5px 0.5px #666666;
  }
  .top-header .navbar .menu {
    width: 100%;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .top-header .navbar .menu > li {
    display: flex !important;
    flex-direction: row !important;
  }
  .top-header .navbar .menu > li > a {
    padding: 8px 8px !important;
  }
  .top-header .navbar .menu > li > a::before {
    width: 3px !important;
    height: 0 !important;
  }
  .top-header .navbar .menu > li > a:hover::before {
    height: 100% !important;
  }
  .top-header .navbar .languages {
    cursor: pointer;
    width: 100% !important;
    height: 64px !important;
  }
  .top-header .navbar .languages > .lang-menu {
    top: -100% !important;
  }
  .top-header .navbar .search {
    align-self: flex-start !important;
    position: relative !important;
    background-color: transparent !important;
  }
  .top-header .navbar .search input {
    width: 90% !important;
  }
  .top-header .hamburger-menu {
    display: flex !important;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 20px;
  }
  .card {
    width: 90%;
  }
  .top-footer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .top-header {
    font-size: 13px !important;
  }
  .search {
    position: absolute;
    background-color: #F5F5F5;
    width: fit-content;
    left: 10px;
  }
  .search .search-submit {
    padding-right: 13px;
  }
  .search input {
    width: 0;
  }
  .search:hover input {
    width: 90%;
    background-color: #2C9564;
  }
  .card {
    width: 90%;
  }
  .top-footer {
    padding: 30px 30px;
    gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .search {
    width: 260px;
  }
  .search > input {
    width: 90%;
  }
}
/*# sourceMappingURL=responsive.css.map */